<div class="sidebar_header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>  </div>
  <div class="create_room_btn">
    <%= link_to "チャット作成",new_room_path%>
  </div>
</div>
<div class="sidebar_content">
  <div class="room_list">
    <%current_user.room.each do|room|%>
      <div class="room_list_item">
        <%= link_to room.name,room_messages_path(room), class:"room_link"%>
  
      </div>
    <%end%>
  </div>
</div>